/* src/App.css */
body {
  background-color: #f7f7f7;
}

.container {
  margin-top: 50px;
}

.login-page,
.register-page,
.account-page {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

h2 {
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

button {
  width: 100%;
}
